* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.topNavBar {
    position: fixed;
    width: 100%;
    padding-top: 34px;
}

.rscard {
    float: left;
    font-weight: bold;
    font-size: 25px;
}

.rscard>.rs {
    color: rgb(230, 104, 108);
    padding-left: 20px;
}

.rscard>.rs_card {
    color: rgb(154, 157, 162);
    padding-left: 15px;
}

.nav {
    float: right;
}

.nav>ul>li {
    float: left;
    padding-right: 36px;
}

.nav>ul>li a {
    color: #b7b7b7;
    line-height: 15px;
    padding: 9px 0;
    display: block;
    font-size: 14px;
}

.nav>ul>li a:hover {
    /* padding-bottom:  */
    border-bottom: 2px solid rgb(230, 104, 108);
}

.banner {
    height: 515px;
    background-image: url(https://fangyinghang.com/resume-15-2/img/rs-cover.jpg);
    background-size: cover;
    background-position: center center;
}

.banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}

main {
    background-color: rgb(239, 239, 239);
    /* background-color: red; */
    /* border: 1px solid red; */
}

main .card {
    max-width: 940px;
    background-color: white;
    /* background-color: blue; */
    margin: 0 auto;
}

.textAndImage {
    /* border: 1px solid blue; */
    padding: 55px 55px;
}

.textAndImage>.img {
    float: left;
}

.textAndImage>.description {
    float: left;
    margin-left: 70px;
    position: relative;
}

.textAndImage>.description>.welcome {
    background-color: rgb(230, 104, 108);
    display: inline-block;
    height: 34px;
    text-align: center;
    font-size: 18px;
    color: white;
    line-height: 34px;
    padding: 0 20px;
}

.textAndImage>.description>.triangle {
    border: 6px solid transparent;
    width: 0;
    border-top: 6px solid rgb(230, 104, 108);
    border-left: 6px solid rgb(230, 104, 108);
    /* border-top: 6px solid black;
    border-left: 6px solid black; */
    display: inline-block;
    /* height: 10px;
    width: 10px; */
    position: absolute;
    left: 5px;
    top: 34px;
}

.description>h1 {
    padding-top: 24px;
    /* width: 520px; */
}

.description>hr {
    margin: 25px 0;
    /* border: 0; */
    color: rgb(222, 222, 222);
    width: 450px;
}

.description dl {
    width: 450px;
}

.description dt, .description dd {
    float: left;
}

.description dt {
    font-weight: bold;
    width: 30%;
    padding-bottom: 9px;
}

.description dd {
    color: #b7b7b7;
    padding-bottom: 9px;
    width: 70%;
}

.card>footer.media {
    background: #E6686A;
    text-align: center;
}

.card>footer.media>a {
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}

.card>footer.media>a:hover {
    background: #CF5D5F;
}

.card svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}
